fieldset {
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select,
option
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #555;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 1rem;
    border: 1px solid #43D1AF;
}

input[type="submit"],
input[type="button"],
.button,
button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0.5rem 2rem;
    background: black;
    border: 0px;
    color: #fff;
    line-height: 1.5rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
}

input[type="submit"]:hover,
input[type="button"]:hover,
.button:hover{
    background: gray;
}

label{
    line-height: 2rem;
    padding-bottom: 1rem;
}

.alert{
    font-size:1.4rem;
    padding: 1rem;
    border-color: orange;
}

.alert-success{
    border-color: green;
}